.linkmenu {
        margin: 3px;

       
        padding: 2px 8px;
        text-decoration: none;
        display: block;
        font-family: 'Inter';
font-style: normal;
/* font-weight: 2px; */
font-size: 12px;
line-height: 150%;

/* or 18px */
letter-spacing: -0.019em;

/* verde-marine-bold */
color: #2C5EDE;


        border-width: 0px 0px 1px 0px;
        border-style: solid;

}

.linkmenu2 {
        margin: 3px;
    
       
        padding: 2px 8px;
        text-decoration: none;
        display: block;
        font-family: 'Inter';
    font-style: normal;
    /* font-weight: 2px; */
    font-size: 12px;
    line-height: 150%;
    
    /* or 18px */
    letter-spacing: -0.019em;
    
    /* verde-marine-bold */
    color: #2C5EDE;
    
    
        border-width: 0px 0px 1px 0px;
        border-style: solid;
    
    }