header {
   display: flex;
   width: auto;
   height: 90px;

   background: #2C5EDE;
   box-shadow: 0px 1px 12px 0px #00000033;
   border-radius: 0px 0px 50px 50px;

}

.bar {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-items: center;
    margin: 0 20px 0 20px;
}

.navcomponent {
    display: flex;
}
.burguer-menu {
    display: none;
}

.logo {
   max-width: 143px;
}

.avatar {
    width: 38px;
    height: 38px;
}

.search {
    height: 25px;
    width: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

.barraheader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    min-width: 90%;
   justify-content: right;
}

.nav {
    display: flex;
    justify-content: space-between;
    
}


.submenu {
    display: none;
}

.submenu2 {
    display: none;
}


@media only screen and (max-width:866px) {
    .navcomponent {
        max-width:70%;
        }

    .logo {
        height: 38px;
    }
    .nav{
        display: ruby;
    }
    .search {
        display: none;
    }
}

@media only screen and (max-width:480px) {
    
    header {
        position: absolute;
        display: flex;
        width: 375px;
        height: 66px;

        /* dropshadow-forHeader */
        filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.25));
        border-radius: 0px 0px 20px 20px;
    }

    .burguer-menu {
        display: unset;
        position: absolute;
       width: 22.92px;
        height: 16px;
        left: 25px;
        top: 25px;


    }

    .nav {
        display: none;
    }

    .search {
        display: none;
    }

    .logo {
        
       position: absolute;
       padding-left: unset;
       width: 104px;
        height: 26.52px;
        left: 136px;
        top: 18px;

    }

    .avatar {
        position: absolute;
        height: 40px;
        width: 40px;
        left: 82.4%;
        right: 6.93%;
        top: 19.7%;
        bottom: 19.7%;


    }
    .submenu {
        display: unset;    
        
        top: 25px;
            transform: translate(-110%, 0);
        
            position: fixed;
            min-width: 120px;
            background: #F5F5F5;

         box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
          border-radius: 0px 10px 10px 0px;
    }

    .submenu2 {
        display: unset;    
        
        top: 75px;
            transform: translate(-10%, 0);
        
            position: fixed;
            min-width: 120px;
            background: #F5F5F5;

         box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
          border-radius: 0px 10px 10px 0px;
    }
   

}
