a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.container{
  z-index: 1;
  position: relative;
}

button{
  border: none;
  margin-bottom: 10px;
  width: auto;
  overflow: visible;

  background: transparent;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

body {

  overflow-x: hidden;
}
